* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.welc {
    text-align: center;
    position: absolute;
    z-index: 1234567890;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: dev 5s;
    opacity: 0;
}
.box1
@keyframes dev {
    0% {
        opacity: 1;
        display: flex;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.welc h1 {
    font-size: 70px;
    animation: shake 3s;
}

@keyframes shake {
    0% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.welc b {
    font-size: 50px;
    animation: up 2s;
}

.bar::before {
    width: 20px;
    height: 3px;
    background-color: black;
    z-index: 12;
    margin-top: 7px;
    display: block;
    content: "";
}

.bar {
    width: 20px;
    height: 3px;
    position: absolute;
    background-color: black;
    z-index: 12;
    margin-top: 5px;
}

.bar::after {
    width: 20px;
    height: 3px;
    background-color: black;
    z-index: 12;
    margin-top: 5px;
    display: block;
    content: "";
}

main {
    width: 100%;
    /* overflow: hidden; */
}

article {
    gap: 5px;
}

article div {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-block: 20px;

}

article span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: grey;
}

article span b {
    color: dodgerblue;
}

.task {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sec_2 {
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 100vh;
    flex-basis: right;
    background-image: url(./hero.jpg);
    background-size: cover;
    background-position: center;
}

#sec_1 {
    background-color: rgb(236, 236, 236);
    width: 20%;
    flex-basis: 20%;
    flex-direction: column;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex-basis: 20%;

}

.sec_2 {
    display: flex;
    align-items: center;
    width: 80%;
}

.sec_2 article {
    animation: up;
}

@keyframes switch {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.sec_22 {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 20%;
    animation: switch_1 15s infinite;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 100vh;
    background-image: url(./img_bg_1.jpg);
    flex-basis: right;
    background-size: cover;
    background-position: center;

}

@keyframes switch_1 {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.ppic {
    width: 45%;
    clip-path: circle(60px);
}

#profile {
    width: 100%;
    align-items: center
}

/*  links */
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.links a {
    text-decoration: none;
    transition: .7;
    font-size: 15px;
    font-weight: lighter;
    color: grey;
}

.links a:hover,
.links a:nth-child(1) {
    color: dodgerblue;
    text-decoration-line: underline;
}

.foot {
    text-align: center;
    font-size: 18px;
    color: grey;
}

.clo {
    color: dodgerblue;
}

/* hero section */


.designer h2 {
    font-size: 65px;
    font-weight: 700;
}

.designer2 h2 {
    font-size: 65px;
    font-weight: 700;
}

.designer article {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.designer2 article {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.designer {
    margin-left: 50px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    animation: up 15s infinite;
}

.designer2 {
    margin-left: 50px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    animation: up2 15s infinite;
}

caption {
    color: dodgerblue;
}


.hero {
    width: 50%;
    animation: switch 15s infinite;
}



.hero img {
    width: 200%;
    margin-left: -70%;
}

.box {
    text-decoration: none;
    padding: 10px;
    padding-block: 7px;
    border: 1px solid black;
    width: 150px;
    text-align: center;
    color: grey;

    font-size: 18px;
    ;
}

.box2 {
    text-decoration: none;
    padding: 10px;
    padding-block: 7px;
    border: 1px solid black;
    width: 150px;
    text-align: center;
    color: grey;

    font-size: 18px;
    ;
}

@keyframes up {
    0% {
        margin-top: 0px;
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    50% {
        margin-top: 60px;
        opacity: 0;
    }

    60% {
        margin-top: 0px;
        opacity: 1;
    }

    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes up2 {
    0% {
        margin-top: 60px;
        opacity: 0;
    }

    10% {
        margin-top: 0px;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        margin-top: 0px;
        opacity: 0;
    }

    100% {

        opacity: 0;
    }
}

.bar {
    display: none;
}